<header>
  <nav>
    <div class="logo">
      <a routerLink="/">
        <h1>Pepe's Gallery</h1>
      </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li> <!-- Enlace a la página de inicio -->
      <li><a routerLink="/exhibitions">Exhibitions</a></li> <!-- Enlace a Exhibiciones -->
      <li><a routerLink="/about">About</a></li> <!-- Enlace a Sobre nosotros -->
      <li><a routerLink="/contact">Contact</a></li> <!-- Enlace a Contacto -->
      <li><a routerLink="/politica-privacidad">Política de Privacidad</a></li> <!-- Enlace a Política de Privacidad -->
    </ul>
  </nav>
</header>
