<section class="politica-privacidad">
    <div class="content">
      <h1>Política de Privacidad</h1>
      <p>En Pepe's Gallery, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta política explica cómo recopilamos, usamos y protegemos tu información personal.</p>
      <p>Asegúrate de leer cuidadosamente esta sección para entender nuestros procedimientos y el uso de los datos personales que compartes con nosotros.</p>
      <div class="button-container">
        <button class="back-btn" routerLink="/">Volver al inicio</button>
      </div>
    </div>
  </section>
  