<section class="exhibitions">
  <div class="content">
    <h1>Exhibiciones Actuales</h1>
    <p>Explora las mejores exposiciones de arte contemporáneo en nuestra galería.</p>
    <div class="exhibition-list">
      <!-- Cada imagen tiene su propio div para el título y descripción -->
      <div class="exhibition-item">
        <img src="assets/imagenes/abstract-8832621_1280.jpg" alt="Exposición 1">
        <h3>Arte Abstracto</h3>
        <p>Una visión única del arte moderno.</p>
      </div>
      <div class="exhibition-item">
        <img src="assets/imagenes/ai-generated-8560269_1280.jpg" alt="Exposición 2">
        <h3>Esculturas Interactivas</h3>
        <p>Sumérgete en el arte táctil.</p>
      </div>
      <div class="exhibition-item">
        <img src="assets/imagenes/art-74050_1280.jpg" alt="Exposición 3">
        <h3>Fotografía Urbana</h3>
        <p>Explorando la vida en la ciudad.</p>
      </div>
      <div class="exhibition-item">
        <img src="assets/imagenes/cat-7515477_1280.png" alt="Exposición 4">
        <h3>Pinturas Clásicas</h3>
        <p>Reinterpretación de obras clásicas.</p>
      </div>
      <div class="exhibition-item">
        <img src="assets/imagenes/ink-7294678_1280.jpg" alt="Exposición 5">
        <h3>Instalaciones Lumínicas</h3>
        <p>Arte que brilla.</p>
      </div>
      <div class="exhibition-item">
        <img src="assets/imagenes/woman-8779337_1280.jpg" alt="Exposición 6">
        <h3>Arte Urbano</h3>
        <p>La voz de las calles.</p>
      </div>
      <div class="exhibition-item">
        <img src="assets/imagenes/ai-generated-8663393_1280.png" alt="Exposición 7">
        <h3>Retratos Modernos</h3>
        <p>Rostros y emociones.</p>
      </div>
      <div class="exhibition-item">
        <img src="assets/imagenes/ai-generated-8863772_1280.png" alt="Exposición 8">
        <h3>Minimalismo</h3>
        <p>La belleza de lo simple.</p>
      </div>
      <div class="exhibition-item">
        <img src="assets/imagenes/abstract-8832621_1280.jpg" alt="Exposición 9">
        <h3>Arte Digital</h3>
        <p>Tecnologia y Arte</p>
      </div>
    </div>
  </div>
</section>
